body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #1374e3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 320px;
}

.login-form h2 {
    margin: 0 0 20px;
    font-size: 24px;
    color: black;
}

.input-container {
    margin-bottom: 15px;
    text-align: left;
}

.input-container label {
    display: block;
    margin-bottom: 6px;
    color: black;
    font-weight: bold;
}

.input-container input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: black;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: blue;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}
