body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    animation: logoAnimation 2s ease-in-out;
}

.logo {
    width: 200px;
    height: 200px;
}

@keyframes logoAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
