/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply a background color and center the content */
body {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container for the form */
.container {
    background-color:  #1374e3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 90px;
    text-align: center;
    max-width: 500px;
}

/* Form styles */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-form h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: black;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 16px;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Button styles */
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
}

/* Link styles */
p {
    font-size: 14px;
    color: black;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
